p{
    border:  2px solid;
    padding: 10px;

}
/* outline */
p{
    outline-width: 5px;
    outline-style: dashed;
    outline-color: red;
    outline-offset: 5px;
        float: ;

}

/* shorthand-  outline:2px solid red 4px; */