.f1{
        border: 2px;
        border-color: red;
        border-style: solid;
        width: 550px;
        margin: 12px;
        float: left;
        

}

.f2{
    border: 3px;
    border-color: blue;
    border-style: dashed;
    width: 550px;
    float: right;
    margin: 12px;

}